label {
   display: flex;
}

.custom {
   display: flex;
   width: 17px;
   height: 17px;
   border-radius: 50%;
   border: 1px solid #4EA8DE;
   margin: auto 0;
}

.real {
   width: 0;
   height: 0;
   position: absolute;
   z-index: -1;
}

.active {
   background-image: url('./check.svg');
   background-repeat: no-repeat;
   background-size: contain;
}
   