label {
   display: flex;
}

.custom {
   display: flex;
   width: 17px;
   height: 17px;
   border-radius: 50%;
   border: 1px solid #4EA8DE;
   margin: auto 0;

   &::after {
      content: '';
      width: 17px;
      height: 17px;
      background-image: url('./check.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transform: scale(0);
   }
  
}

// .real:checked {
//    $selector: check;
// }

// @if check {
//    .custom::before {
//       transform: scale(1);
//    }
// }

   